img {
    max-width: 100%;
    max-height: 100%;
}

div.post {
    margin: 20px;
    border-color: #828282 #ffffff;
    border-style: solid;
}

.btn {
    background-color: #d9d7d7;
}

#imgPreview {
    max-width: 300px;
    max-height: 300px;
}